body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1157px;
    margin: 0px auto;
    padding: 0px 15px;
}
/*header*/
.header{
    height: 355px;
    background-color: rgba(238, 238, 238, 1);
}
/*header-nav*/
.nav{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 50px;
}
.navigation-link>li>a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.navigation-link{
    list-style: none;
    display: flex;
    column-gap: 45px;
    margin-left: 202px;
    padding-right: 246px;
}
/*header-cart*/
.cart>a{
    color: black;
    text-decoration: none;
}
.cart::before{
    content: "";
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('/main/img/Decoration/Cart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0px;
    left: -10px;
}
.cart{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-left: 24px;
}
/*logo*/
.Logo{
    margin-top: -10px;
}
/*header page title*/
.title{
    margin-top: -168px;
    font-size: 55px;
    font-weight: 500;
    position: relative;
    margin-left: 250px;
}
/*filter*/
/*filter_cost_title*/
.filter_cost_title{
    position: absolute;
    margin-top: -68px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}
/*filter_conrols*/
.cost_contorls{
    width: 260px;
    height: 80px;
    background-color: rgba(238, 238, 238, 1);
    border-radius: 3px;
    position: relative;
    margin-top: 235px
}
/*cost input*/
.input_control{
    margin-top: 15px;
}
.cost_min{
    color: rgba(40, 49, 54, 1);
    text-transform: uppercase;
    padding-right: 11px;
}
.cost_min_input{
    width: 80px;
    height: 38px;
    border-radius: 3px;
    background: rgba(238, 238, 238, 1);
    border: none;
    text-transform: uppercase;
    text-align: center;
}
.cost_max{
    color: rgba(40, 49, 54, 1);
    text-transform: uppercase;
    margin-left: 15px;
    padding-right: 11px;

}
.cost_max_input{
    width: 80px;
    height: 38px;
    border-radius: 3px;
    background: rgba(238, 238, 238, 1);
    border: none;
    text-transform: uppercase;
    text-align: center;
}
/*line green*/
.line_green{
    width: 145px;
    border-bottom: solid 2px rgba(0, 202, 116, 1);
    display: flex;
    position: absolute;
    margin-top: 39px;
    margin-left: 18px;
}

.line_green::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: white;
    border-radius: 100%;
    margin-top: -9px;
 
}
.line_green::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    background-color: white;
    border-radius: 100%;
    margin-top: -9px;
    margin-left: 130px;
}
/*line_grey*/
.line_grey{
    position: absolute;
    width: 60px;
    height: 2px;
    background-color: rgba(215, 220, 223, 1);
    margin-left: 168px;
    margin-top: 39px;
}
/*elipse*/
.elippse1{
    width: 4px;
    height: 4px;
    background-color: rgba(171, 171, 171, 1);
    display: flex;
    position: absolute;
    margin-top: 38px;
    margin-left: 26px;
    border-radius: 100%;
}
.elippse2{
    width: 4px;
    height: 4px;
    background-color: rgba(171, 171, 171, 1);
    display: flex;
    position: absolute;
    margin-top: 38px;
    margin-left: 156px;
    border-radius: 100%;
}
/*grid*/
.filter-option {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-bottom: 20px;
  }
  
  .filter-input-checkbox:focus+label::after, .filter-input-checkbox:focus+label::before, .filter-input-checkbox:hover+label::after, .filter-input-checkbox:hover+label::before {
    opacity: 1;
    background-image: url("../img/content/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 26px;
    height: 26px;
  }
  
  .filter-input-checkbox+label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/content/checkbox-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
    border-radius: 3px;
  }
  
  .filter-input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -40px;
    width: 26px;
    height: 26px;
    background-image: url("../img/content/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
  }
  
  .filter-input-checkbox:focus+label::before {
    top: 0px;
    left: -40px;
    width: 30px;
    height: 30px;
    background-image: url("../img/content/checkbox-on.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    opacity: 1;
  }
  
  .filter-input-checkbox:checked+label::before {
    border: none;
  }
  
  .filter-input-checkbox:disabled+label::after {
    opacity: 0.1;
  }
  
  .filter-input-radio:hover+label::before {
    opacity: 1;
    background-image: url("../img/content/radioon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 0px;
    left: -40px;
    width: 30px;
    height: 30px;
  }
  
  .filter-input-radio:focus+label::after, .filter-input-radio:focus+label::before, .filter-input-radio:hover+label::after, .filter-input-radio:hover+label::before {
    opacity: 1;
    background-image: url("../img/content/radioon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 30px;
    height: 30px;
  }
  
  .filter-input-radio:checked+label::after {
    content: "";
    position: absolute;
    top: 0px;
    left: -40px;
    width: 30px;
    height: 30px;
    background-image: url("../img/content/radioon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
  }
  
  .filter-input-radio+label::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-image: url("../img/content/radio-off.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.4;
  }
  .visually-hidden{
    appearance: none;
  }
  .filter-item{
    padding-bottom: 40px;
  }
  .filter-input-radio:focus+label::before {
    top: 0px;
    left: -40px;
    width: 30px;
    height: 30px;
    background-image: url("../img/content/radioon.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 1;
  }
  
  .filter-input-radio:disabled+label::after, .filter-input-radio:disabled+label::before {
    opacity: 0.1;
  }
  .filter-title{
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
    text-transform: uppercase;
  }
/*btn_filter*/
.btn-filter{
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(238, 238, 238, 1);
    border: none;
    padding: 17px 89px;
    margin-top: 45px;
    text-transform: uppercase;
}
.navLeft{
    display: inline;
    position: absolute;
}
/*sorting*/
.sorting-title{
    position: absolute;
    margin-top: 128px;
    margin-left: 440px;
    font-weight: 18;
    font-weight: 700;
    text-transform: uppercase;
}
/*sorting-price*/
.sorting-price{
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
    position: absolute;
    margin-top: 120px;
    margin-left: 804px;
}
.sorting-price>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
/*sorting-*/
.product-sorting{
    position: absolute;
    margin-left: -87px;
    margin-top: 40px;
}
.sorting-type{
    position: absolute;
    opacity: 0.3;
    font-size: 14px;
    font-weight: 400;
    margin-top: 119px;
    margin-left: 890px;
}
.sorting-type>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}
/*sorting-name*/
.sorting-name{
    position: absolute;
    margin-top: 118px;
    margin-left: 960px;
}
.sorting-name>a{
    text-decoration: none;
    color: black;
    opacity: 0.3;
}
.sorting-list{
    list-style: none;
    white-space: nowrap;
}
/*sort drow*/
.sort-drow{
    position: absolute;
    margin-top: 118px;
    margin-left: 1180px;
}
.sort-down{
    padding-right: 15px;
    margin-left: -30px;
}
/*product card*/
.product-maket-list{
    position: absolute;
    list-style: none;
    margin-left: 312px;
    margin-top: 272px;
}
.product-maket-items::before {
    content: "";
    position: absolute;
    width: 358px;
    height: 40px;
    background-image: url(../img/decoration/maket-top-block.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
    margin-top: -40px;
}
.product-maket-list{
    display: grid;
    grid-template-columns: 360px 360px;
    column-gap: 40px;
    row-gap: 70px;
}
/*product button footer*/
.button-product-footer{
    position: absolute;
    margin-top: 2205px;
    margin-left: 345px;
    padding-bottom: 75px;
}
.btn-product-footer1{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background-color: white;
    border: solid 3px rgba(219, 219, 219, 1);
    padding: 10px 15px;
}
.btn-product-footer2{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(238, 238, 238, 1);
    border: none;
    padding: 13px 18px;
    margin-left: 7px;
}
.btn-product-footer3{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(238, 238, 238, 1);
    border: none;
    padding: 13px 18px;
    margin-left: 7px;
}
.btn-product-footer4{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 1);
    background-color: rgba(238, 238, 238, 1);
    border: none;
    padding: 13px 76px;
    margin-left: 7px;    
}


/*footer*/
/*maps*/
.maps{
    margin-top: 300px;
    position: absolute;
    margin-left: -100px;
}
.map-icon{
    position: absolute;
    margin-top: 386px;
    margin-left: 662px;
}
/*mapsContact*/
.maps-contact{
    width: 319px;
    height: 308px;
    background-color: white;
    margin-top: 354px;
    position: absolute;
    margin-left: 140px;
}
.maps-contact-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 50px;
    margin-top: 30px;
}
.maps-contact-addres{
    color: rgba(102, 102, 102, 1);
    margin-left: 50px;
}
.maps-contact-number{
    color: rgba(102, 102, 102, 1);
    margin-left: 50px;
}
.maps-contact-button{
    font-weight: 500;
    padding: 17px 45px;
    margin-left: 50px;
    position: absolute;
    margin-top: 30px;
}
/*footer title*/
.footer-title{
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    margin-top: 745px;
    margin-left: 540px;
}
.footer-sub{
    color: rgba(68, 68, 68, 1);
    position: absolute;
    margin-left: 540px;
    margin-top: 795px;
}
/*footer img message*/
.footer-VK{
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    width: 81px;
    height: 81px;
    border-radius: 100%;
}
.img-Vk{
    display: flex;
    position: absolute;
    margin-left: 26px;
    margin-top: 33px;
}
.footer-Fb{
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    width: 81px;
    height: 81px;
    border-radius: 100%;
}
.img-FB{
    display: flex;
    position: absolute;
    margin-left: 33px;
    margin-top: 29px;
}
.footer-inst{
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    width: 81px;
    height: 81px;
    border-radius: 100%;
}
.img-inst{
    display: flex;
    position: absolute;
    margin-left: 30px;
    margin-top: 29px;
}
.footer-img{
    display: flex;
    position: absolute;
    margin-top: 740px;
    column-gap: 9px;
    margin-left: 40px;
    padding-bottom: 40px;
}
.footer{
    margin-top: 1450px;
}
.maps-contact-button{
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: rgba(251, 86, 90, 1);
    border: none;
}
.maket-animation-block{
    width: 358px;
    height: 231px;
    background-color: rgba(238, 238, 238, 1);
}
.animation-block-title{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding-top: 26px;
}
.animation-block-sub{
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    text-align: center;
    padding-bottom: 25px;
}
.btn-animation-block{
    color: white;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(251, 86, 90, 1);
    border: none;
    padding: 16px 71px;
    margin-left: 80px;
}
.maket-animation-block{
    margin-top: 330px;
    position: absolute;
    box-shadow: 0px 0px 4px 1px;
    border-radius: 3px;
}

.maket-animation{
    opacity: 0;
    position: absolute;
    margin-top: -622px;
    height: 600px;
}
/*pop up*/
.pop-up{
    width: 960px;
    height: 590px;
    background-color: white;
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    position: fixed;
    inset: 0;
    z-index: 2;
    display: none;
    margin:auto;
}
.pop-up-main{
    position: relative;
}
.cross{
    margin-top: 70px;
    margin-left: 845px;
    opacity: 0.3;
}
.pop-up-title{
    font-size: 45px;
    font-weight: bold;
    line-height: 0px;
    position: absolute;
    top: 43px;
    left: 100px;
}
.name-input-sub{
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    top: 135px;
    left: 100px;
}
.name-input{
    color: rgba(68, 68, 68, 0.5);
    width: 360px;
    height: 50px;
    border: solid 2px rgba(215, 220, 222, 1);
    font-size: 17px;
    position: absolute;
    left: 100px;
    top: 168px;
    padding-left: 5px;
}
.email-input-sub{
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    top: 135px;
    right: 290px;
}
.email-input{
    font-size: 17px;
    position: absolute;
    border: solid 2px rgba(215, 220, 222, 1);
    color: rgba(68, 68, 68, 0.5);
    width: 360px;
    height: 50px;
    top: 168px;
    right: 0px;
    padding-left: 5px;
}
.letter-input-sub{
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    top: 263px;
    right: 660px;
}
.letter-input{
    font-size: 17px;
    position: absolute;
    border: solid 2px rgba(215, 220, 222, 1);
    color: rgba(68, 68, 68, 0.5);
    width: 774px;
    left: 100px;
    top: 291px;
    padding-bottom: 118px;
    padding-left: 5px;
    padding-top: 5px;
}
.btn-pop-up{
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: rgba(251, 86, 90, 1);
    text-transform: uppercase;
    padding: 17px 80px;
    border: none;
    position: absolute;
    left: 100px;
    top: 480px;
}
.footer{
    margin-top: 2040px;
}