body{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1157px;
    margin: 0px auto;
    padding: 0px 15px;
}
/*all sub*/
.sub-title-text{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    color: rgba(40, 49, 54, 1);
}
/*all button*/
button{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    background-color: rgba(251, 86, 90, 1);
    border: solid 0px black;
}
/*header*/
.header{
    height: 545px;
    background-color: rgba(238, 238, 238, 1);
}
/*header-nav*/
.nav{
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 20px;
}
.navigation-link>li>a{
    text-decoration: none;
    color: black;
    font-size: 16;
    font-weight: 500;
}
.navigation-link{
    list-style: none;
    display: flex;
    column-gap: 45px;
    margin-left: 202px;
    padding-right: 246px;
}
/*header-cart*/
.cart>a{
    color: black;
    text-decoration: none;
}
.cart::before{
    content: "";
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    background-image: url('/main/img/Decoration/Cart.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    top: 0px;
    left: -10px;
}
.cart{
    position: relative;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding-left: 24px;
}
/*logo*/
.Logo{
    margin-top: -10px;
}
/*slider*/
.slider-img{
    position: absolute;
    display: flex;
    margin-left: 397px;
    margin-top: -431px;
}
/*slider Text*/
.slider-title{
    color: rgba(0, 0, 0, 1);
    font-size: 55px;
    font-weight: 500;
    width: 380px;
    position: absolute;
    margin-top: -362px;
}
.slider-sub{
    position: absolute;
    margin-top: -200px;
}
/*slider-button*/
.btn_slider{
    padding: 17px 54px;
    margin-top: -125px;
}
/*lure*/
.lure{
    display: flex;
    justify-content: center;
    column-gap: 100px;
    padding-top: 80px;
    padding-bottom: 96px;
    border-bottom: solid 2px rgba(238, 238, 238, 1);
}
/*product 1 text*/
.product-title{
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    line-height: 25px;
    position: absolute;
}
.product-sub{
    position: absolute; 
    margin-top: 61px;   
}
/*1 button*/
.lure-product1-button{
    padding: 17px 40px;
    margin-top: 125px;
}
/*product 2*/
.lure-product2Button>button{
    background-color: rgba(0, 202, 116, 1);
    padding: 17px 40px;
    margin-top: 127px;
}
/*product 3*/
.lure-product3Button>button{
    padding: 17px 40px;
    background-color:#EFC849;
}
.lure-product3Button{
    margin-top: 126px;
}
/*info*/
/*infoText*/
.info-text-title{
    font-size:45px;
    font-weight: 500;
    color: black;
    position: absolute;
    margin-top: 53px;
}
.info-text-sub{
    position: absolute;
    margin-top: 195px;
}
/*info order*/
.order-title{
    position: absolute;
    font-weight: 800;
    font-size: 16px;
    color: rgba(40, 49, 54, 1);
    margin-top: 285px;
    text-transform: uppercase;
}
.order-sub{
    position: absolute;
    margin-top: 324px;
    margin-left: 35px;
}
.order-sub2{
    margin-top: 374px;
}
.order-sub3{
    margin-top: 424px;
}
.order-sub1::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: rgba(251, 86, 90, 1);
    margin-left: -31px;
    margin-top: 7.5px;
}
.order-sub2::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: rgba(251, 86, 90, 1);
    margin-left: -31px;
    margin-top: 7.5px;
}.order-sub3::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: rgba(251, 86, 90, 1);
    margin-left: -31px;
    margin-top: 7.5px;
}
/*info img*/
.info-img{
    position: absolute;
    display: flex;
    margin-left: 801px;
    margin-top: 39px;
}
/*percent*/

.percent-block{
    position: absolute;
    padding-top: 30px;
}
.percent-span{
    font-size: 26px;
    position: absolute;
}
/*percent title*/
.percent-title{
    position: absolute;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 802px;
    margin-top: 270px;
}
/*percent block 1*/
.percent-block1{
    position: absolute;
    margin-left: 786px;
    margin-top: 244px;
    display: flex;
}
.percent-block-number{
    position: absolute;
    font-weight: 700;
    font-size: 45px;
    color: rgba(0, 0, 0, 1);
}
.percent-block-sub{
    position: absolute;
    color: rgba(40, 49, 54, 1);
}
.percent-block-number1{
    margin-top: 77px;
}
.percent-block-sub1{
    margin-top: 140px;
    margin-left: 8px;
}
/*percent block2*/
.percent-block2{
    margin-top: 274px;
    display: flex;
    position: absolute;
    margin-left: 921px;
}
.percent-block-sub2{
    margin-left: 10px;
    margin-top: 109px;
}
/*percent block 3*/
.percent-block3{
    margin-top: 274px;
    margin-left: 1060px;
    position: absolute;
}
.percent-block-sub3{
    margin-top: 109px;
}
/*company*/
.company{
    position: absolute;
    margin-top: 630px;
    display: flex;
    margin-left: 52px;
    border-top: solid 2px rgba(0, 0, 0, 0.2);
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    padding-bottom: 40px;
    padding-top: 50px;
}
.html-company{
    border-right: solid 2px rgba(0, 0, 0, 0.2);
    padding-right: 48px;
    height: 68px;
    opacity: 0.2;
}
.borodinski-company{
    margin-left: 57px;
    border-right: solid 2px rgba(0, 0, 0, 0.2);
    padding-right: 48px;
    height: 68px;
    opacity: 0.2;
}
.pink-company{
    margin-left: 57px;
    border-right: solid 2px rgba(0, 0, 0, 0.2);
    padding-right: 48px;
    height: 68px;
    opacity: 0.2;
}
.mishka-company{
    margin-left: 57px;
    height: 68px;
    opacity: 0.2;
}
/*footer*/
/*maps*/
.maps{
    margin-top: 900px;
    position: absolute;
    margin-left: -100px;
}
.map-icon{
    position: absolute;
    margin-top: 986px;
    margin-left: 662px;
}
/*mapsContact*/
.maps-contact{
    width: 319px;
    height: 308px;
    background-color: white;
    margin-top: 954px;
    position: absolute;
    margin-left: 140px;
}
.maps-contact-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 50px;
    margin-top: 30px;
}
.maps-contact-addres{
    color: rgba(102, 102, 102, 1);
    margin-left: 50px;
}
.maps-contact-number{
    color: rgba(102, 102, 102, 1);
    margin-left: 50px;
}
.maps-contact-button{
    font-weight: 500;
    padding: 17px 45px;
    margin-left: 50px;
    position: absolute;
    margin-top: 30px;
}
/*footer title*/
.footer-title{
    position: absolute;
    font-size: 36px;
    font-weight: bold;
    margin-top: 1345px;
    margin-left: 540px;
}
.footer-sub{
    color: rgba(68, 68, 68, 1);
    position: absolute;
    margin-left: 540px;
    margin-top: 1395px;
}
/*footer img message*/
.footer-VK{
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    width: 81px;
    height: 81px;
    border-radius: 100%;
}
.img-Vk{
    display: flex;
    position: absolute;
    margin-left: 26px;
    margin-top: 33px;
}
.footer-Fb{
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    width: 81px;
    height: 81px;
    border-radius: 100%;
}
.img-FB{
    display: flex;
    position: absolute;
    margin-left: 33px;
    margin-top: 29px;
}
.footer-inst{
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    width: 81px;
    height: 81px;
    border-radius: 100%;
}
.img-inst{
    display: flex;
    position: absolute;
    margin-left: 30px;
    margin-top: 29px;
}
.footer-img{
    display: flex;
    position: absolute;
    margin-top: 1340px;
    column-gap: 9px;
    margin-left: 40px;
    padding-bottom: 40px;
}
